*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top-bar{
    margin: auto;
    background-color: #81a5e9;
    width: 900px;
    
}
.top-bar h2{
    color: #df2534;
}
.top-bar h2:last-child{
    color: #fff;
}